In [17]:
import pyspark
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName("Product_details").getOrCreate()
df = spark.read.csv( "P_Lookup.csv", header= True, inferSchema= True)
df1 =spark.read.csv( "Customer_Products.csv", header= True, inferSchema= True)

In [18]:
df.show()
df.printSchema()
df1.show()
df1.printSchema()

+---------+--------+-------------------+----------+----------+
|Prod code|Prod cls|          Prod name|Start Date|  End Date|
+---------+--------+-------------------+----------+----------+
|     1001|   Loans|          Home loan|1980-01-01|31-12-4599|
|     1002|   Loans|      Personal Loan|1980-01-01|31-12-4599|
|     1003|   Loans|           car loan|2001-06-01|31-12-4599|
|     1004|   Loans|       student loan|2007-06-13|31-12-4599|
|     1005|   Loans|          gold loan|2010-05-01|31-12-4599|
|     1006|   Loans|    automobile loan|1975-06-01|31-12-4599|
|     1007|   Loans|      buisness loan|2000-05-01|31-12-4599|
|     1008|   Loans|small business loan|1980-01-01|31-12-4599|
|     1009|   Loans|    home loan extra|2016-12-04|31-12-4599|
|     1010|   Loans| personal loan plus|2010-03-11|31-12-4599|
|     1011|   Loans|          home loan|2007-06-14|31-12-4599|
|     2001|   Cards|             Travel|2000-05-01|31-12-4599|
|     2002|   Cards|            rewards|2008-12-01|31-12-4599|
|     2003|   Cards|           business|2018-12-25|31-12-4599|
|     2004|   Cards|     credit builder|1975-06-01|31-12-4599|
|     2005|   Cards|           purchase|2015-03-10|31-12-4599|
|     2006|   Cards|        travel plus|2005-03-10|31-12-4599|
|     2007|   Cards|     credit builder|2005-03-10|31-12-4599|
|     3001| Savings|          Max Saver|1995-06-30|31-12-4599|
|     3002| Savings|          Tax Saver|1995-06-30|31-12-4599|
+---------+--------+-------------------+----------+----------+
only showing top 20 rows

root
 |-- Prod code: integer (nullable = true)
 |-- Prod cls: string (nullable = true)
 |-- Prod name: string (nullable = true)
 |-- Start Date: date (nullable = true)
 |-- End Date: string (nullable = true)

+----------+---------+----------+----------+
|      CSID|Prod code|start date|  End date|
+----------+---------+----------+----------+
|2345450601|     7001|2021-12-17|31-12-4399|
|2345450602|     3001|1996-10-29|31-12-4399|
|2345450603|     8004|2021-06-01|31-12-4399|
|2345450604|     7001|2020-08-12|31-12-4399|
|2345450605|     5004|2010-05-05|31-12-4399|
|2345450606|     8004|2017-06-19|31-12-4399|
|2345450607|     1004|2014-09-13|31-12-4399|
|2345450608|     2003|2023-06-10|31-12-4399|
|2345450609|     5002|2011-09-21|31-12-4399|
|2345450610|     2002|2020-03-09|31-12-4399|
|2345450611|     1006|1978-02-06|31-12-4399|
|2345450612|     3004|2020-05-20|31-12-4399|
|2345450613|     5001|2004-10-01|31-12-4399|
|2345450614|     8005|2022-12-07|31-12-4399|
|2345450615|     2005|2024-01-25|31-12-4399|
|2345450616|     2005|2022-12-15|31-12-4399|
|2345450617|     6003|2004-01-23|31-12-4399|
|2345450618|     3005|2009-03-04|31-12-4399|
|2345450619|     5002|2011-05-15|31-12-4399|
|2345450620|     2002|2017-10-22|31-12-4399|
+----------+---------+----------+----------+
only showing top 20 rows

root
 |-- CSID: long (nullable = true)
 |-- Prod code: integer (nullable = true)
 |-- start date: date (nullable = true)
 |-- End date: string (nullable = true)

In [24]:
data = df1.select(col("start date").alias("start_date2"), col("End date").alias("End_date2"),col("CSID").alias("CSID"), col("Prod code").alias("Prod code"))

In [25]:
data.show()

+-----------+----------+----------+---------+
|start_date2| End_date2|      CSID|Prod code|
+-----------+----------+----------+---------+
| 2021-12-17|31-12-4399|2345450601|     7001|
| 1996-10-29|31-12-4399|2345450602|     3001|
| 2021-06-01|31-12-4399|2345450603|     8004|
| 2020-08-12|31-12-4399|2345450604|     7001|
| 2010-05-05|31-12-4399|2345450605|     5004|
| 2017-06-19|31-12-4399|2345450606|     8004|
| 2014-09-13|31-12-4399|2345450607|     1004|
| 2023-06-10|31-12-4399|2345450608|     2003|
| 2011-09-21|31-12-4399|2345450609|     5002|
| 2020-03-09|31-12-4399|2345450610|     2002|
| 1978-02-06|31-12-4399|2345450611|     1006|
| 2020-05-20|31-12-4399|2345450612|     3004|
| 2004-10-01|31-12-4399|2345450613|     5001|
| 2022-12-07|31-12-4399|2345450614|     8005|
| 2024-01-25|31-12-4399|2345450615|     2005|
| 2022-12-15|31-12-4399|2345450616|     2005|
| 2004-01-23|31-12-4399|2345450617|     6003|
| 2009-03-04|31-12-4399|2345450618|     3005|
| 2011-05-15|31-12-4399|2345450619|     5002|
| 2017-10-22|31-12-4399|2345450620|     2002|
+-----------+----------+----------+---------+
only showing top 20 rows

In [26]:
df_lj = df.join(data, on="Prod code", how="left")
df_lj.show()

+---------+--------+---------+----------+----------+-----------+----------+----------+
|Prod code|Prod cls|Prod name|Start Date|  End Date|start_date2| End_date2|      CSID|
+---------+--------+---------+----------+----------+-----------+----------+----------+
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1993-09-22|31-12-4399|2345650586|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2005-12-30|31-12-4399|2345650511|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1994-05-07|31-12-4399|2345650501|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1990-02-22|31-12-4399|2345650427|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2000-11-06|31-12-4399|2345650408|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2004-04-04|31-12-4399|2345650376|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2011-05-16|31-12-4399|2345650321|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1991-12-25|31-12-4399|2345650311|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1997-03-27|31-12-4399|2345650306|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1995-05-28|31-12-4399|2345650271|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2018-01-24|31-12-4399|2345650248|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2001-03-25|31-12-4399|2345650180|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1990-03-22|31-12-4399|2345650128|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2006-04-30|31-12-4399|2345650073|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2007-09-15|31-12-4399|2345650007|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2011-01-20|31-12-4399|2345649982|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2024-03-08|31-12-4399|2345649926|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1983-10-13|31-12-4399|2345649923|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2003-06-10|31-12-4399|2345649919|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1987-08-26|31-12-4399|2345649905|
+---------+--------+---------+----------+----------+-----------+----------+----------+
only showing top 20 rows

In [5]:
df_lj.groupBy('Prod code').count().show()
df_lj.groupBy('Prod cls').count().show()
df_lj.groupBy('Prod name').count().show()

+---------+-----+
|Prod code|count|
+---------+-----+
|     1005| 4861|
|     8003| 4868|
|     2003| 4846|
|     2007| 4878|
|     8001| 4910|
|     2006| 4924|
|     5003| 4925|
|     8004| 4874|
|     8005| 5027|
|     7001| 5000|
|     NULL|  958|
|     1008| 4859|
|     5001| 5027|
|     5004| 4774|
|     4001| 4777|
|     6002| 5001|
|     3001| 4764|
|     1010| 4841|
|     1002| 4910|
|     8002| 4835|
+---------+-----+
only showing top 20 rows

+----------+-----+
|  Prod cls|count|
+----------+-----+
| Insurance|24514|
|   Savings|24178|
|      NULL|  958|
|     Loans|53794|
|     Cards|34177|
| Mortgages|14732|
|   Current|19157|
|Investment|19667|
|     Forex| 9781|
+----------+-----+

+--------------------+-----+
|           Prod name|count|
+--------------------+-----+
|           gold loan| 4861|
|Certificate of de...| 4836|
|      Limited Access| 4896|
|    Travel Insurance| 5027|
|                NULL|  958|
|              Travel| 4869|
|      credit builder| 9740|
|       Personal Loan| 4910|
|            car loan| 4833|
|            purchase| 4812|
|      Home Insurance| 4910|
|           Tax Saver| 4786|
|             Managed| 4781|
|         travel plus| 4924|
|    health insurance| 4874|
|           home loan| 4892|
|               Joint| 4763|
|  personal loan plus| 4841|
|       Youth Account| 4792|
|automobile insurance| 4835|
+--------------------+-----+
only showing top 20 rows

In [28]:
from pyspark.sql.functions import col, when
df_lj.filter(col('Prod code').isNull()).show()
df_lj.filter(col('Prod cls').isNull()).show()
df_lj.filter(col('Prod name').isNull()).show()

+---------+--------+---------+----------+--------+-----------+---------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|End_date2|CSID|
+---------+--------+---------+----------+--------+-----------+---------+----+
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
+---------+--------+---------+----------+--------+-----------+---------+----+
only showing top 20 rows

+---------+--------+---------+----------+--------+-----------+---------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|End_date2|CSID|
+---------+--------+---------+----------+--------+-----------+---------+----+
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
+---------+--------+---------+----------+--------+-----------+---------+----+
only showing top 20 rows

+---------+--------+---------+----------+--------+-----------+---------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|End_date2|CSID|
+---------+--------+---------+----------+--------+-----------+---------+----+
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
|     NULL|    NULL|     NULL|      NULL|    NULL|       NULL|     NULL|NULL|
+---------+--------+---------+----------+--------+-----------+---------+----+
only showing top 20 rows

In [27]:
all_cleaned=df_lj.dropna(how='all')
all_cleaned.show()

+---------+--------+---------+----------+----------+-----------+----------+----------+
|Prod code|Prod cls|Prod name|Start Date|  End Date|start_date2| End_date2|      CSID|
+---------+--------+---------+----------+----------+-----------+----------+----------+
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1993-09-22|31-12-4399|2345650586|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2005-12-30|31-12-4399|2345650511|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1994-05-07|31-12-4399|2345650501|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1990-02-22|31-12-4399|2345650427|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2000-11-06|31-12-4399|2345650408|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2004-04-04|31-12-4399|2345650376|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2011-05-16|31-12-4399|2345650321|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1991-12-25|31-12-4399|2345650311|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1997-03-27|31-12-4399|2345650306|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1995-05-28|31-12-4399|2345650271|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2018-01-24|31-12-4399|2345650248|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2001-03-25|31-12-4399|2345650180|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1990-03-22|31-12-4399|2345650128|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2006-04-30|31-12-4399|2345650073|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2007-09-15|31-12-4399|2345650007|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2011-01-20|31-12-4399|2345649982|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2024-03-08|31-12-4399|2345649926|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1983-10-13|31-12-4399|2345649923|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2003-06-10|31-12-4399|2345649919|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1987-08-26|31-12-4399|2345649905|
+---------+--------+---------+----------+----------+-----------+----------+----------+
only showing top 20 rows

In [29]:
all_cleaned.groupBy('Prod code').count().show()
all_cleaned.groupBy('Prod cls').count().show()
all_cleaned.groupBy('Prod name').count().show()

+---------+-----+
|Prod code|count|
+---------+-----+
|     1005| 4861|
|     8003| 4868|
|     2003| 4846|
|     2007| 4878|
|     8001| 4910|
|     2006| 4924|
|     5003| 4925|
|     8004| 4874|
|     8005| 5027|
|     7001| 5000|
|     1008| 4859|
|     5001| 5027|
|     5004| 4774|
|     4001| 4777|
|     6002| 5001|
|     3001| 4764|
|     1010| 4841|
|     1002| 4910|
|     8002| 4835|
|     3003| 4836|
+---------+-----+
only showing top 20 rows

+----------+-----+
|  Prod cls|count|
+----------+-----+
| Insurance|24514|
|   Savings|24178|
|     Loans|53794|
|     Cards|34177|
| Mortgages|14732|
|   Current|19157|
|Investment|19667|
|     Forex| 9781|
+----------+-----+

+--------------------+-----+
|           Prod name|count|
+--------------------+-----+
|           gold loan| 4861|
|Certificate of de...| 4836|
|      Limited Access| 4896|
|    Travel Insurance| 5027|
|              Travel| 4869|
|      credit builder| 9740|
|       Personal Loan| 4910|
|            car loan| 4833|
|            purchase| 4812|
|      Home Insurance| 4910|
|           Tax Saver| 4786|
|             Managed| 4781|
|         travel plus| 4924|
|    health insurance| 4874|
|           home loan| 4892|
|               Joint| 4763|
|  personal loan plus| 4841|
|       Youth Account| 4792|
|automobile insurance| 4835|
|     automobile loan| 4791|
+--------------------+-----+
only showing top 20 rows

In [30]:
df_dropped = all_cleaned.drop("End_date2")

In [31]:
df_dropped.show()

+---------+--------+---------+----------+----------+-----------+----------+
|Prod code|Prod cls|Prod name|Start Date|  End Date|start_date2|      CSID|
+---------+--------+---------+----------+----------+-----------+----------+
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1993-09-22|2345650586|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2005-12-30|2345650511|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1994-05-07|2345650501|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1990-02-22|2345650427|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2000-11-06|2345650408|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2004-04-04|2345650376|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2011-05-16|2345650321|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1991-12-25|2345650311|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1997-03-27|2345650306|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1995-05-28|2345650271|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2018-01-24|2345650248|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2001-03-25|2345650180|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1990-03-22|2345650128|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2006-04-30|2345650073|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2007-09-15|2345650007|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2011-01-20|2345649982|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2024-03-08|2345649926|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1983-10-13|2345649923|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 2003-06-10|2345649919|
|     1001|   Loans|Home loan|1980-01-01|31-12-4599| 1987-08-26|2345649905|
+---------+--------+---------+----------+----------+-----------+----------+
only showing top 20 rows

In [32]:
df_dropped.filter(col('Prod code').isNull()).show()
df_dropped.filter(col('Prod cls').isNull()).show()
df_dropped.filter(col('Prod name').isNull()).show()
df_dropped.filter(col('Start Date').isNull()).show()
df_dropped.filter(col('start_date2').isNull()).show()
df_dropped.filter(col('CSID').isNull()).show()

+---------+--------+---------+----------+--------+-----------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|CSID|
+---------+--------+---------+----------+--------+-----------+----+
+---------+--------+---------+----------+--------+-----------+----+

+---------+--------+---------+----------+--------+-----------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|CSID|
+---------+--------+---------+----------+--------+-----------+----+
+---------+--------+---------+----------+--------+-----------+----+

+---------+--------+---------+----------+--------+-----------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|CSID|
+---------+--------+---------+----------+--------+-----------+----+
+---------+--------+---------+----------+--------+-----------+----+

+---------+--------+---------+----------+--------+-----------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|CSID|
+---------+--------+---------+----------+--------+-----------+----+
+---------+--------+---------+----------+--------+-----------+----+

+---------+--------+---------+----------+--------+-----------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|CSID|
+---------+--------+---------+----------+--------+-----------+----+
+---------+--------+---------+----------+--------+-----------+----+

+---------+--------+---------+----------+--------+-----------+----+
|Prod code|Prod cls|Prod name|Start Date|End Date|start_date2|CSID|
+---------+--------+---------+----------+--------+-----------+----+
+---------+--------+---------+----------+--------+-----------+----+

In [33]:
from pyspark.sql.functions import col, to_date, date_format
df_formatted = df_dropped.withColumn("End Date", date_format(to_date(col("End Date"), "dd-MM-yyyy"), "yyyy-MM-dd"))
df_formatted.show()

+---------+--------+---------+----------+----------+-----------+----------+
|Prod code|Prod cls|Prod name|Start Date|  End Date|start_date2|      CSID|
+---------+--------+---------+----------+----------+-----------+----------+
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1993-09-22|2345650586|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2005-12-30|2345650511|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1994-05-07|2345650501|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1990-02-22|2345650427|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2000-11-06|2345650408|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2004-04-04|2345650376|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2011-05-16|2345650321|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1991-12-25|2345650311|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1997-03-27|2345650306|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1995-05-28|2345650271|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2018-01-24|2345650248|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2001-03-25|2345650180|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1990-03-22|2345650128|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2006-04-30|2345650073|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2007-09-15|2345650007|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2011-01-20|2345649982|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2024-03-08|2345649926|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1983-10-13|2345649923|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 2003-06-10|2345649919|
|     1001|   Loans|Home loan|1980-01-01|4599-12-31| 1987-08-26|2345649905|
+---------+--------+---------+----------+----------+-----------+----------+
only showing top 20 rows

In [34]:
df_formatted.printSchema()

root
 |-- Prod code: integer (nullable = true)
 |-- Prod cls: string (nullable = true)
 |-- Prod name: string (nullable = true)
 |-- Start Date: date (nullable = true)
 |-- End Date: string (nullable = true)
 |-- start_date2: date (nullable = true)
 |-- CSID: long (nullable = true)

In [38]:
from pyspark.sql.types import DateType
final_data = df_formatted.withColumn('End Date', col('End Date').cast(DateType()))

In [39]:
final_data.printSchema()

root
 |-- Prod code: integer (nullable = true)
 |-- Prod cls: string (nullable = true)
 |-- Prod name: string (nullable = true)
 |-- Start Date: date (nullable = true)
 |-- End Date: date (nullable = true)
 |-- start_date2: date (nullable = true)
 |-- CSID: long (nullable = true)

In [42]:
# Convert PySpark DataFrame to Pandas DataFrame
df_pandas = final_data.toPandas()

# Overwrite existing file using Pandas
file_path = "C:/Users/Balu/Documents/Tamanna/Pyspark- Tableau data/Product_details.csv" 
df_pandas.to_csv(file_path, index=False)

In [ ]:
df = spark.read.csv( "P_Lookup.csv", header= True, inferSchema= True)
df1 =spark.read.csv( "Customer_Products.csv", header= True, inferSchema= True)